<form action="">
    <div class="row">
        <div class="medium-4 columns">
            <input type="search">
        </div>
        <div class="medium-4 columns">
            <select name="" id="">
                <option value="one">Eins</option>
            </select>
        </div>
        <div class="medium-4 columns">
            <input type="submit" class="button secondary">
        </div>
    </div>
</form>

<div class="row">
    <div class="medium-12 large-12 columns">
        <table class="scroll hover">
            <thead>
                <th>Artikelnummer</th>
                <th>Bezeichnung</th>
                <th>Gehäusefarbe</th>
                <th>Montage</th>
                <th>Leistung</th>
                <th>Lichtfarbe</th>
                <th>Lichtverteilung</th>
                <th>Abdeckung</th>
                <th>Steuerung</th>
            </thead>
            <tr>
                <td>SX 936-42 V</td>
                <td>Avanza 450</td>
                <td>graphit</td>
                <td>Zopf 60</td>
                <td>36</td>
                <td>4500</td>
                <td>asymetrisch Straße</td>
                <td>Flachglas</td>
                <td>nodimm</td>
            </tr>

        </table>

    </div>
</div>