<footer style="background-color: #4a4a4a;">
    <div class="small-12 medium-3 large-3 columns">1. Spalte</div>
    <div class="small-12 medium-3 large-3 columns">2. Spalte</div>
    <div class="small-12 medium-3 large-3 columns">3. Spalte</div>
    <div class="small-12 medium-3 large-3 columns">4. Spalte</div>
</footer>