<form action="">
    <div class="row">
        <div class="medium-4 columns">
            <input type="search">
        </div>
        <div class="medium-4 columns">
            <select name="" id="">
                <option value="one">Eins</option>
            </select>
        </div>
        <div class="medium-4 columns">
            <input type="submit" class="button secondary">
        </div>
    </div>
</form>

<div class="row">
    <div class="medium-12 large-12 columns">
        <table class="scroll hover">
            <thead>
                <th>1. Spalte</th>
                <th>2. Spalte</th>
                <th>3. Spalte</th>
                <th>4. Spalte</th>
                <th>5. Spalte</th>
            </thead>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>

    </div>
</div>