<nav>
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li style="font-size:32px; background-color: white;"class="menu-text">seluxGrid</li>
            </ul>
        </div>
        <div class="top-bar-right">
            <button class="button small primary configuration">Einstellungen</button>
        </div>
    </div>
</nav>